body {
    background-color: #222;
    color: #ddd;
}

.card {
    background-color: #171717;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-title {
    color: #fff;
}
.form-control {
    background-color: #101010 !important;
    border-color: #202020;
    color: #ddd !important;
}
.form-control:hover {
    border-color: #101010;
    background-color: #202020;

}

.modal-header, .modal-body, .modal-footer, .modal-title{
    background-color: #171717;
    color: #fff;
}
.modal-content {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}