body {
    margin: 0;
}
.display-grid {
    display: grid;
}
.display-inline-flex {
    display: inline-flex;
}
.cards {
    margin-top: 30px;
}
.card {
    flex: auto;
    margin: 30px;
}
p {
    margin: 0;
}
.add-server-input,
.select_payment_type,
.add_product,
.settings2,
.edit_product {
    width: 350px;
}
.use_voucher {
    width: 250px;
}
.shop-cards {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
}
.shop-card {
    width: 50rem;
}
.buy_button {
    float: right;
    color: #fff;
}
.custom-control {
    margin: 15px;
}
.custom-control {
    margin-left: 0;
}
.productsDialog {
    max-width: 650px;
}
.remove_product {
    margin-left: 15px;
}
.voucher {
    display: inline-flex;
    height: 410px;
}
.voucher .form-group {
    padding: 0;
}
.own-container {
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
}
.use_voucher_button {
    float: right;
}