body {
    margin: 0;
}
.display-grid {
    display: grid;
}
.server_logo h1 {
    margin: 30px 0 30px;
}
.display-inline-flex {
    display: inline-flex;
}
.cards {
    margin-top: 30px;
    justify-content: center;
}
.card {
    flex: auto;
    margin: 17px;
}
p {
    margin: 0;
}
.add-server-input,
.select_payment_type,
.add_product,
.settings2,
.edit_product,
.castomization_site,
#own_voucher_code {
    width: 350px;
}
.use_voucher {
    width: 250px;
}
.shop-cards {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
}
.shop-card {
    width: 50rem;
    flex-flow: row;
}
.shop-card .card-title, .shop-card .card-text {
    text-align: center;
}
.shop-card .payment_methods {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}
.buy_button {
    float: right;
    color: #fff;
}
.custom-control {
    margin: 15px;
}
.custom-control {
    margin-left: 0;
}
.productsDialog {
    max-width: 650px;
}
.remove_product {
    margin-left: 15px;
}
.voucher {
    display: inline-flex;
}
.voucher .form-group {
    padding: 0;
}
.own-container {
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
}
.use_voucher_button {
    float: right;
}
.widgets {
    display: flex;
    flex-flow: column;
}
.last_purchase_info span {
    position: absolute;
}
.purchase {
    display: inline-flex;
}
.product_img {
    width: 150px;
    display: inline-flex;
    margin: 15px;
    border-radius: 0;
    align-self: flex-start;
}
@media (max-width: 1224px) {
    .own-container {
        flex-flow: wrap-reverse;
    }
    .widgets {
        flex-flow: row;
    }
}
@media (max-width: 800px) {
    .shop-cards {
        width: 100%;
    }
    .shop-card {
        width: 100%;
        flex-flow: column;
    }
    .widgets {
        flex-flow: column;
    }
}
@media (max-width: 780px) {
    .shop-cards {
        width: 100%;
    }
    .product_img {
        position: relative;
        align-self: center;
    }
    .shop-card .card-text {
        margin-left: 0 !important;
    }
}
.landing_page_paragraph {
    margin-left: 15px;
    margin-bottom: 20px;
}
.cke_chrome {
    width: 100% !important;
}
.add-edit-product {
    width: 700px;
}
.add-edit-product-form {
    max-width: 100%;
}