{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83594382-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-83594382-6');
</script>
    <title>IVshop - darmowy itemshop dla serwerów minecraft</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="IVshop to w pełni darmowy itemshop bez limitów i reklam dla serwerów minecraft. Całość jest trzymana na naszych serwerach dzięki czemu nie musisz kupować hostingów, vpsów.">
    <meta name="keywords" content="minecraft, itemshop, ivshop, itemshop minecraft, darmowy itemshop, sklep minecraft, sklep, darmowy itemshop minecraft, sklep, shop, itemshop, minecraft, items, free, darmowy, ivall">
    <meta property="og:site_name" content="IVshop">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IVshop - darmowy itemshop dla serwerów minecraft">
    <meta property="og:description" content="IVshop to w pełni darmowy itemshop bez limitów i reklam dla serwerów minecraft. Całość jest trzymana na naszych serwerach
    dzięki czemu nie musisz kupować hostingów, vpsów.">
    <meta name="theme-color" content="#006FFF">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="{% static 'css/shards.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% include 'navbar.html' %}
{% block body %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    // csrf
    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
             }
         }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static 'js/shards.min.js' %}"></script>
{% if request.session.username %}
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/static/ckeditor/ckeditor/adapters/jquery.js"></script>
{% endif %}
{% if messages %}
    {% for message in messages %}
        <script>toastr.{{ message.tags }}('{{ message }}')</script>
    {% endfor %}
{% endif %}
</body>
</html>
{% endspaceless %}