{% extends 'base.html' %}
{% block body %}
    <div class="container">
        {% if request.session.username %}
                <div class="add-server-button d-flex justify-content-center">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addServerModal">Dodaj serwer</button>
                </div>
                <!-- Add server modal -->
                <div class="modal fade" id="addServerModal" tabindex="-1" role="dialog" aria-labelledby="addServerModal" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addServerModalLabel">Dodaj serwer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group col-md-6">
                            <label for="server-name" class="col-form-label">Nazwa serwera</label>
                            <input type="text" name="server-name" class="form-control add-server-input" id="server-name">
                            <label for="server-ip" class="col-form-label">IP serwera</label>
                            <input type="text" name="server-ip" class="form-control add-server-input" id="server-ip">
                            <label for="rcon-port" class="col-form-label">Port rcon</label>
                            <input type="number" name="rcon-port" class="form-control add-server-input" id="rcon-port" value="25575">
                            <label for="rcon-password" class="col-form-label">Hasło rcon</label>
                            <input type="password" name="rcon-password" class="form-control add-server-input" id="rcon-password" autocomplete="new-password">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                        <button type="button" class="btn btn-primary add-server">Dodaj</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row cards">
                {% for server in data %}
                    <div class="col card" style="max-width: 30rem;">
                      <div class="card-body">
                        <h4 class="card-title">{{ server.server_name }}</h4>
                        <p class="card-text">
                            {% if server.server_status == True %}
                            <span class="badge badge-success">ON</span>&nbsp;
                            {% else %}
                            <span class="badge badge-danger">OFF</span>&nbsp;
                            {% endif %}
                            <span class="badge badge-light">{{ server.server_version }}</span>&nbsp;
                            <span class="badge badge-light">{{ server.server_players }}</span>&nbsp;
                            {% if server.owner_id|slugify == request.session.user_id %}
                                <span class="badge badge-warning">Właściciel</span>&nbsp;
                                {% else %}
                                <span class="badge badge-primary">Administrator</span>&nbsp;
                            {% endif %}
                            {% if not server.rcon_status %}
                                <span class="badge badge-danger">rcon</span>
                            {% else %}
                                <span class="badge badge-success">rcon</span>
                            {% endif %}
                        </p>
                        <a href="/panel/{{ server.id }}" class="btn btn-primary">Zarządzaj</a>
                      </div>
                    </div>
                {% endfor %}
                </div>
        {% else %}
            <h3 class="landing_page_header">Co to jest?</h3>
            <p class="landing_page_paragraph card card-body">IVshop to w pełni darmowy, automatyczny sklep dla serwerów minecraft.</p>
            <h3 class="landing_page_header">Dlaczego IVshop?</h3>
            <p class="landing_page_paragraph card card-body">
                Nie posiadamy żadnych opłat, limitów, reklam. Strona jest zaprojektowana w architekturze SaaS, dzięki czemu nie musisz kupować hostingów, vpsów itd.
                Posiadamy zabezpieczenia przed atakami DoS oraz DDoS, dzięki czemu Twój sklep działa 24/7. Do zarządzania sklepem klienci mają przejrzysty panel z wieloma funkcjami.
                IVshop jest cały czas aktualizowany, dzięki czemu nie musisz się martwić o nieaktualne zabezpieczenia strony, ale możesz się spodziewać cały czas nowych funkcjonalności. IVshop to najlepszy polski w pełni darmowy itemshop minecraft.
            </p>
            <h3 class="landing_page_header">Funkcje</h3>
            <div class="functions">
                <div class="card function-card">
                  <div class="card-body">
                    <h6 class="card-title">Vouchery</h6>
                    Możliwość wygenerowania vouchera z losowym lub własnym kodem.
                  </div>
                </div>
                <div class="card function-card">
                  <div class="card-body">
                    <h6 class="card-title">Własna nawigacja</h6>
                    Pozwala na dodanie linku do np. serwera discord.
                  </div>
                </div>
                <div class="card function-card">
                  <div class="card-body">
                    <h6 class="card-title">Motywy sklepu</h6>
                    IVshop posiada do wyboru 2 motywy sklepu, jasny i ciemny.
                  </div>
                </div>
                <div class="card function-card">
                  <div class="card-body">
                    <h6 class="card-title">Własny css</h6>
                    Zaimportowanie własnego cssa pozwala na dostosowanie wyglądu sklepu pod własne potrzeby.
                  </div>
                </div>
                <div class="card function-card">
                  <div class="card-body">
                    <h6 class="card-title">Webhook discord</h6>
                    Opcjonalne podpięcie webhooka z discorda, będzie wysyłana informacja o zakupie produktu.
                  </div>
                </div>
                <div class="card function-card">
                  <div class="card-body">
                    <h6 class="card-title">Administratorzy sklepu</h6>
                    Możliwość dodania innych osób do panelu serwera, co pozwala innym zarządzać itemshopem.
                  </div>
                </div>
            </div>
            <div class="card card-body" style="margin-top: 0;">
                <div class="text-center">
                    <p>
                        Nie chcesz modelu SaaS? Postaw własny sklep na VPS'ie od <a href="https://www.lvlup.pro/pl/oferta/vps-kvm/?utm_source=ivshop.pl&utm_medium=banner" title="VPSy dla serwerów gier">lvlup.pro</a>
                        <img src="https://forum.lvlup.pro/uploads/default/original/1X/29b7ac5c7615838607b72997a0cba89286fa208d.png" alt="logo lvlup" style="height: 20px; width: 20px;"></a>.
                        Z kodem ivshop.pl 10% rabatu.
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}