{% extends 'base.html' %}
{% load change from number_to_price %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>{{ server_name }}</h2>
            <a href="/shop/{{ server_id }}">sklep</a>
        </div>
        <div class="statistics" style="display: flex;">
           <div class="card" style="width: 10rem">
               <div class="text-center">
                   <div class="card-header">
                       Ilość produktów
                   </div>
                  <div class="card-body">
                      <b>{{ counted_products }}</b>
                  </div>
               </div>
            </div>
            <div class="card" style="width: 10rem">
               <div class="text-center">
                   <div class="card-header">
                       Kupione produkty
                   </div>
                  <div class="card-body">
                      <b>{{ purchases_count }}</b>
                  </div>
               </div>
            </div>
        </div>
        {% if not rcon_status %}
        <div class="alert alert-danger" role="alert">
          Nasz system wykrył błąd w połączeniu rcon z twoim serwerem.
          Użytkownicy aktualnie nie mogą nic kupić w sklepie, napraw problem i sprwadź połączenie rcon, aby sklep ponownie funkcjonował poprawnie.
            <button class="btn btn-primary btn-sm check_rcon_connection">sprawdź połączenie</button>
        </div>
        {% endif %}
        <div class="alert alert-light" role="alert">
            <div class="text-center" style="width: 100%;">
                <a href="" data-toggle="modal" data-target="#addProductModal">Dodaj nowy produkt</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center" style="width: 100%;">
                <a href="" data-toggle="modal" data-target="#productsModal">Produkty</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center" style="width: 100%;">
                <a href="" data-toggle="modal" data-target="#addVoucherModal">Dodaj nowy voucher</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center" style="width: 100%;">
                <a href="" data-toggle="modal" data-target="#vouchersModal">Vouchery</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#paymentsHistoryModal">Lista zakupów</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#addOperatorModal">Dodaj operatora płatności</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#paymentOperatorsModal">Operatorzy płatności</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#serverNavigation">Nawigacja</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#castomizationSite">Ustawienia ogólne</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#settings2Modal">Ustawienia serwera</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <p>
                    Nie chcesz modelu SaaS? Postaw własny sklep na VPS'ie od <a href="https://www.lvlup.pro/pl/oferta/vps-kvm/?utm_source=ivshop.pl&utm_medium=banner" title="VPSy dla serwerów gier">lvlup.pro</a>
                    <img src="https://forum.lvlup.pro/uploads/default/original/1X/29b7ac5c7615838607b72997a0cba89286fa208d.png" style="height: 20px; width: 20px;"></a>.
                    Z kodem ivshop.pl 10% rabatu.
                </p>
            </div>
        </div>
        <!-- Po prostu tego nie ruszaj, to jest licencja MIT -->
        <div class="alert alert-dark" role="alert">
            <div class="text-center">
                <p>Itemshop stworzony przez <a href="https://ivall.pl" target="_blank">ivalla</a>. Repozytorium: <a href="https://github.com/ivall/ivshop">https://github.com/ivall/ivshop</a></p>
            </div>
        </div>
    </div>
    <!-- Settings modal -->
    <div class="modal fade" id="addOperatorModal" tabindex="-1" role="dialog" aria-labelledby="addOperatorModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addOperatorModalLabel">Dodaj operatora płatności</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6">
                  <label for="select_payment_type">Operator</label>
                  <select class="custom-select" id="select_payment_type">
                    {% if 'lvlup_sms' not in assigned_operators %}<option value="lvlup_sms">Lvlup smsy</option>{% endif %}
                    {% if 'lvlup_other' not in assigned_operators %}<option value="lvlup_other">Lvlup przelewy, pp, psc</option>{% endif %}
                    {% if 'microsms_sms' not in assigned_operators %}<option value="microsms_sms">Microsms smsy</option>{% endif %}
                  </select>
                  <div class="lvlup_sms_selected" style="display: none;">
                      <input type="hidden" value="{{ server_id }}" id="server_id">
                      <label for="operator_name" class="col-form-label">Nazwa płatności</label>
                      <input type="text" name="operator_name" class="form-control select_payment_type" id="lvlup_sms_operator_name" placeholder="np. SMS">
                      <label for="lvlup_client_id" class="col-form-label">ID klienta</label>
                      <input type="number" name="lvlup_client_id" class="form-control select_payment_type" id="lvlup_client_id">
                  </div>
                  <div class="lvlup_other_selected" style="display: none;">
                      <input type="hidden" value="{{ server_id }}" id="server_id">
                      <label for="operator_name" class="col-form-label">Nazwa płatności</label>
                      <input type="text" name="operator_name" class="form-control select_payment_type" id="lvlup_other_operator_name" placeholder="np. SMS">
                      <label for="lvlup_api_key" class="col-form-label">Klucz api</label>
                      <input type="text" name="lvlup_api_key" class="form-control select_payment_type" id="lvlup_api_key">
                  </div>
                   <div class="microsms_sms_selected" style="display: none;">
                      <input type="hidden" value="{{ server_id }}" id="server_id">
                      <label for="operator_name" class="col-form-label">Nazwa płatności</label>
                      <input type="text" name="operator_name" class="form-control select_payment_type" id="microsms_sms_operator_name" placeholder="np. SMS">
                      <label for="microsms_client_id" class="col-form-label">ID klienta</label>
                      <input type="number" name="microsms_client_id" class="form-control select_payment_type" id="microsms_client_id">
                      <label for="microsms_service_id" class="col-form-label">ID usługi</label>
                      <input type="number" name="microsms_service_id" class="form-control select_payment_type" id="microsms_service_id">
                      <label for="microsms_sms_content" class="col-form-label">Treść SMS-a</label>
                      <input type="text" name="microsms_sms_content" class="form-control select_payment_type" id="microsms_sms_content">
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary add_payment_operator">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content add-edit-product">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">Dodaj produkt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6 add-edit-product-form">
                  <label for="product_name" class="col-form-label">Nazwa produktu</label>
                  <input type="text" name="product_name" class="form-control add_product" id="product_name">
                  <form id="ProductDescription">
                        {{ ProductDescriptionForm.media }}
                        {{ ProductDescriptionForm }}
                  </form>
                  <label for="product_image" class="col-form-label">Zdjęcie produktu</label>
                  <input type="url" name="product_image" class="form-control add_product" id="product_image" placeholder="link do zdjęcia">
                  {% if 'lvlup_other' in assigned_operators %}
                  <label for="lvlup_other_price" class="col-form-label">Cena</label>
                  <input type="number" name="lvlup_other_price" class="form-control add_product" id="lvlup_other_price" placeholder="Format: 10.00">
                  {% endif %}
                  {% if 'lvlup_sms' in assigned_operators %}
                  <label for="lvlup_sms_price">Cena SMS lvlup</label>
                  <select class="custom-select" id="lvlup_sms_price">
                      <option value="70068">0,62 PLN</option>
                      <option value="7168">1,23 PLN</option>
                      <option value="72068">2,46 PLN</option>
                      <option value="73068">3,69 PLN</option>
                      <option value="74068">4,92 PLN</option>
                      <option value="75068">6,15 PLN</option>
                      <option value="76068">7,38 PLN</option>
                      <option value="79068">11,07 PLN</option>
                      <option value="91068">12,30 PLN</option>
                      <option value="91758">20,91 PLN</option>
                      <option value="92578">30,75 PLN</option>
                  </select>
                  {% endif %}
                  {% if 'microsms_sms' in assigned_operators %}
                  <label for="microsms_sms_price">Cena SMS microsms</label>
                  <select class="custom-select" id="microsms_sms_price">
                      <option value="71480">1,23 PLN</option>
                      <option value="72480">2,46 PLN</option>
                      <option value="73480">3,69 PLN</option>
                      <option value="74480">4,92 PLN</option>
                      <option value="75480">6,15 PLN</option>
                      <option value="76480">7,38 PLN</option>
                      <option value="79480">11,07 PLN</option>
                      <option value="91400">17,22 PLN</option>
                      <option value="91900">23,37 PLN</option>
                      <option value="92022">24,60 PLN</option>
                      <option value="92521">30,75 PLN</option>
                  </select>
                  {% endif %}
                  <label for="product_commands" class="col-form-label">Komendy</label>
                  <textarea name="product_commands" class="form-control add_product" id="product_commands"></textarea>
                  <label for="product_commands" class="col-form-label" style="width: 200%;"><p>Komendy oddzielaj <b>średnikami</b>. Nick gracza to <b>{PLAYER}</b>.</p></label>
                  <div class="g-recaptcha" data-sitekey="6LcMT9MZAAAAADyOhR7Op42dPQB9zFWgeqDgsgGJ"></div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary add_product_button">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Payments history modal -->
    <div class="modal fade" id="paymentsHistoryModal" tabindex="-1" role="dialog" aria-labelledby="paymentsHistoryModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentsHistoryModalLabel">Lista zakupów</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Produkt</th>
                    <th>Kupiec</th>
                    <th>Status</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                  {% for purchase in purchases %}
                      <tr>
                        <td>{{ purchase.product.product_name }}</td>
                        <td>{{ purchase.buyer }}</td>
                        <td>
                            {% if purchase.status == 0 %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                </svg>
                            {% else %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            {% endif %}
                        </td>
                        <td>
                            {{ purchase.date|date:"d.m.Y" }} {{ purchase.date|time:"H:i" }}
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Settings2 modal -->
    <div class="modal fade" id="settings2Modal" tabindex="-1" role="dialog" aria-labelledby="settings2ModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settings2ModalLabel">Ustawienia serwera</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6">
                  <input type="hidden" value="{{ server_id }}" id="server_id">
                  <label for="server_name" class="col-form-label">Nazwa serwera</label>
                  <input type="text" name="server_name" class="form-control settings2" id="server_name" value="{{ server_name }}">
                  <label for="server_ip" class="col-form-label">IP serwera</label>
                  <input type="text" name="server_ip" class="form-control settings2" id="server_ip" value="{{ server_ip }}">
                  <label for="rcon_port" class="col-form-label">Port rcon</label>
                  <input type="number" name="rcon_port" class="form-control settings2" id="rcon_port" value="{{ rcon_port }}">
                  <label for="rcon_password" class="col-form-label">Hasło rcon</label>
                  <input type="password" name="rcon_password" class="form-control settings2" id="rcon_password" autocomplete="new-password">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary save-settings2">Zapisz</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Products modal -->
    <div class="modal fade" id="productsModal" tabindex="-1" role="dialog" aria-labelledby="productsModalLabel" aria-hidden="true">
      <div class="modal-dialog productsDialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="productsModalLabel">Produkty</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Produkt</th>
                    <th>Sprzedano</th>
                    <th>Akcje</th>
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                      <tr class="product{{ product.id }}">
                        <td>{{ product.product_name }}</td>
                        <td>{% for cs in counted_sells.items %}{% if cs.0 == product.id|stringformat:"i" %}{{ cs.1 }}{% endif %}{% endfor %}</td>
                          <td>
                            <button class="open_edit_product_button btn btn-primary btn-sm" product_id="{{ product.id }}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                            <button class="remove_product btn btn-danger btn-sm" product_id="{{ product.id }}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit product modal -->
    <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content add-edit-product">
          <div class="modal-header">
            <h5 class="modal-title" id="editProductModalLabel">Edytuj produkt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6 add-edit-product-form">
                  <label for="edit_product_name" class="col-form-label">Nazwa produktu</label>
                  <input type="text" name="edit_product_name" class="form-control edit_product" id="edit_product_name">
                  <form id="EditProductDescription">
                        {{ ProductDescriptionForm.media }}
                        {{ ProductDescriptionForm }}
                  </form>
                  <label for="edit_product_image" class="col-form-label">Zdjęcie produktu</label>
                  <input type="url" name="edit_product_image" class="form-control edit_product" id="edit_product_image" placeholder="link do zdjęcia">
                  {% if 'lvlup_other' in assigned_operators %}
                  <label for="edit_lvlup_other_price" class="col-form-label">Cena</label>
                  <input type="number" name="edit_lvlup_other_price" class="form-control add_product" id="edit_lvlup_other_price" placeholder="Format: 10.00">
                  {% endif %}
                  {% if 'lvlup_sms' in assigned_operators %}
                  <label for="edit_lvlup_sms_price">Cena SMS lvlup</label>
                  <select class="custom-select" id="edit_lvlup_sms_price">
                      <option value="70068">0,62 PLN</option>
                      <option value="7168">1,23 PLN</option>
                      <option value="72068">2,46 PLN</option>
                      <option value="73068">3,69 PLN</option>
                      <option value="74068">4,92 PLN</option>
                      <option value="75068">6,15 PLN</option>
                      <option value="76068">7,38 PLN</option>
                      <option value="79068">11,07 PLN</option>
                      <option value="91068">12,30 PLN</option>
                      <option value="91758">20,91 PLN</option>
                      <option value="92578">30,75 PLN</option>
                  </select>
                  {% endif %}
                  {% if 'microsms_sms' in assigned_operators %}
                  <label for="edit_microsms_sms_price">Cena SMS microsms</label>
                  <select class="custom-select" id="edit_microsms_sms_price">
                      <option value="71480">1,23 PLN</option>
                      <option value="72480">2,46 PLN</option>
                      <option value="73480">3,69 PLN</option>
                      <option value="74480">4,92 PLN</option>
                      <option value="75480">6,15 PLN</option>
                      <option value="76480">7,38 PLN</option>
                      <option value="79480">11,07 PLN</option>
                      <option value="91400">17,22 PLN</option>
                      <option value="91900">23,37 PLN</option>
                      <option value="92022">24,60 PLN</option>
                      <option value="92521">30,75 PLN</option>
                  </select>
                  {% endif %}
                  <label for="edit_product_commands" class="col-form-label">Komendy</label>
                  <textarea name="edit_product_commands" class="form-control edit_product" id="edit_product_commands"></textarea>
                  <label for="edit_product_commands" class="col-form-label" style="width: 200%;"><p>Komendy oddzielaj <b>średnikami</b>. Nick gracza to <b>{PLAYER}</b>.</p></label>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary edit_product_button">Zapisz</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add voucher modal -->
    <div class="modal fade" id="addVoucherModal" tabindex="-1" role="dialog" aria-labelledby="addVoucherModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addVoucherModalLabel">Dodaj nowy voucher</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6">
                  <label for="add_voucher_product">Produkt</label>
                  <select class="custom-select" id="add_voucher_product">
                      {% for product in products %}
                        {% if product.server.id == server_id %}
                            <option value="{{ product.id }}">{{ product.product_name }}</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                  <label for="own_voucher_code" class="col-form-label">Własny kod vouchera (opcjonalnie)</label>
                  <input type="text" name="own_voucher_code" class="form-control" id="own_voucher_code" placeholder="xiaomilepsze">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
              {% if products %}
            <button type="button" class="btn btn-primary generate_voucher_button">Wygeneruj</button>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- Vouchers modal -->
    <div class="modal fade" id="vouchersModal" tabindex="-1" role="dialog" aria-labelledby="vouchersModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="vouchersModalLabel">Vouchery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Produkt</th>
                    <th>Kod</th>
                    <th>Gracz</th>
                    <th>Użycie</th>
                  </tr>
                </thead>
                <tbody>
                  {% for voucher in vouchers %}
                      <tr>
                        <td>{{ voucher.product.product_name }}</td>
                        <td>{{ voucher.code }}</td>
                        <td>{% if voucher.player %}
                                {{ voucher.player }}
                            {% else %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                </svg>
                            {% endif %}
                        </td>
                        <td>
                            {% if voucher.status %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                            {% else %}
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                                </svg>
                            {% endif %}
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Castomization website modal -->
    <div class="modal fade" id="castomizationSite" tabindex="-1" role="dialog" aria-labelledby="castomizationSiteLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="castomizationSiteLabel">Ustawienia ogólne</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6">
                  <label for="server_logo_image" class="col-form-label">Logo serwera</label>
                  <input type="url" name="server_logo_image" class="form-control castomization_site" id="server_logo_image" placeholder="Link do zdjęcia" value="{{ server_logo }}">
                  <label for="server_own_css" class="col-form-label">Własny CSS</label>
                  <input type="url" name="server_own_css" class="form-control castomization_site" id="server_own_css" placeholder="Link do własnego CSS" value="{{ own_css }}">
                  <p>Skorzystaj z <a href="https://hosting.zxu.pl">hosting.zxu.pl</a>.</p>
                  <label for="shop_style">Styl sklepu</label>
                  <select class="custom-select" id="shop_style">
                      <option value="light">jasny</option>
                      <option value="dark">ciemny</option>
                  </select>
                  <label for="own_domain" class="col-form-label">Własna domena</label>
                  <input type="url" name="own_domain" class="form-control castomization_site" id="own_domain" value="{{ domain }}">
                  <label for="discord_webhook" class="col-form-label">Webhook discord</label>
                  <input type="url" name="discord_webhook" class="form-control castomization_site" id="discord_webhook" placeholder="Link do webhooka" value="{{ discord_webhook }}">
                  <label for="admins" class="col-form-label">Osoby mające dostęp do panelu</label>
                  <input type="url" name="admins" class="form-control castomization_site" id="admins" placeholder="Wymień id discord użytkowników po przecinku" value="{{ admins }}">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary castomize_site_button">Zapisz</button>
          </div>
        </div>
      </div>
    </div>
<!-- Payment operators modal -->
    <div class="modal fade" id="paymentOperatorsModal" tabindex="-1" role="dialog" aria-labelledby="paymentOperatorsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 650px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="paymentOperatorsModalLabel">Operatorzy płatności</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Nazwa</th>
                    <th>Operator</th>
                    <th>ID klienta</th>
                    <th>ID usługi</th>
                    <th>Treść SMSa</th>
                    <th>Akcje</th>
                  </tr>
                </thead>
                <tbody>
                  {% for po in payment_operators %}
                      <tr class="payment_operator{{ po.id }}">
                        <td>{{ po.operator_name }}</td>
                        <td>{{ po.operator_type }}</td>
                        <td>{% if po.client_id %}{{ po.client_id }}{% endif %}</td>
                        <td>{% if po.service_id %}{{ po.service_id }}{% endif %}</td>
                        <td>{% if po.sms_content %}{{ po.sms_content }}{% endif %}</td>
                        <td>
                            <button class="remove_payment_operator btn btn-danger btn-sm" operator_id="{{ po.id }}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        (function() {
           document.getElementById('id_product_description').id = 'id_product_description1';
        })();
    </script>
    <!-- Server navigation modal -->
    <div class="modal fade" id="serverNavigation" tabindex="-1" role="dialog" aria-labelledby="serverNavigationLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="serverNavigationLabel">Nawigacja</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" data-toggle="modal" data-target="#addLink">Dodaj</button>
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Nazwa</th>
                    <th>URL</th>
                    <th>Akcje</th>
                  </tr>
                </thead>
                <tbody>
                  {% for link in server_navigation_links %}
                      <tr class="links">
                        <td>{{ link.name }}</td>
                        <td>{{ link.url }}</td>
                        <td>
                            <button class="remove_navigation_link btn btn-danger btn-sm" link_id="{{ link.id }}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
<!-- Add to server navigation link modal -->
    <div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="addLinkLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addLinkLabel">Dodaj link</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div class="form-group col-md-6">
                  <label for="link_name" class="col-form-label">Nazwa</label>
                  <input type="url" name="link_name" class="form-control add_link" id="link_name">
                  <label for="link_url" class="col-form-label">URL</label>
                  <input type="url" name="link_url" class="form-control add_link" id="link_url">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary add_link_button">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}