{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="text-center">
            <h2>MojePvP</h2>
        </div>
        <div class="statistics" style="display: flex;">
           <div class="card" style="width: 10rem">
               <div class="text-center">
                   <div class="card-header">
                       Ilość produktów
                   </div>
                  <div class="card-body">
                      <b>{{ counted_products }}</b>
                  </div>
               </div>
            </div>
            <div class="card" style="width: 10rem">
               <div class="text-center">
                   <div class="card-header">
                       Kupione produkty
                   </div>
                  <div class="card-body">
                      <b>0</b>
                  </div>
               </div>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center" style="width: 100%;">
                <a href="" data-toggle="modal" data-target="#addProductModal">Dodaj nową usługę</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="#">Lista zakupów</a>
            </div>
        </div>
        <div class="alert alert-light" role="alert">
            <div class="text-center">
                <a href="" data-toggle="modal" data-target="#settingsModal">Ustawienia</a>
            </div>
        </div>
    </div>
    <!-- Settings modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="settingsModalLabel">Ustawienia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6">
                  <label for="select_payment_type">Operator płatności</label>
                  <select class="custom-select" id="select_payment_type">
                    <option value="1" >Lvlup</option>
                  </select>
                  <input type="hidden" value="{{ server_id }}" id="server_id">
                  <label for="lvlup_client_id" class="col-form-label">ID klienta</label>
                  <input type="number" name="lvlup_client_id" class="form-control select_payment_type" id="lvlup_client_id">
                  <label for="lvlup_api_key" class="col-form-label">Klucz api</label>
                  <input type="text" name="lvlup_api_key" class="form-control select_payment_type" id="lvlup_api_key">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary save-settings">Zapisz</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add product modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addProductModalLabel">Dodaj produkt</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group col-md-6">
                  <label for="product_name" class="col-form-label">Nazwa produktu</label>
                  <input type="text" name="product_name" class="form-control add_product" id="product_name">
                  <label for="product_description" class="col-form-label">Opis produktu</label>
                  <textarea name="product_description" class="form-control add_product" id="product_description"></textarea>
                  <label for="product_price" class="col-form-label">Cena</label>
                  <input type="number" name="product_price" class="form-control add_product" id="product_price" placeholder="Format: 10.00">
                  <label for="product_sms_price">Cena SMS</label>
                  <select class="custom-select" id="product_sms_price">
                      <option value="70068">0,62 PLN</option>
                      <option value="7168">1,23 PLN</option>
                      <option value="72068">2,46 PLN</option>
                      <option value="73068">3,69 PLN</option>
                      <option value="74068">4,92 PLN</option>
                      <option value="75068">6,15 PLN</option>
                      <option value="76068">7,38 PLN</option>
                      <option value="79068">11,07 PLN</option>
                      <option value="91068">12,30 PLN</option>
                      <option value="91758">20,91 PLN</option>
                      <option value="92058">24,60 PLN</option>
                      <option value="92578">30,75 PLN</option>
                  </select>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            <button type="button" class="btn btn-primary add_product_button">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}